:root{
  --primary: #12130F;
  --gray: #7e8a96;
  --red:#FB3640;
  --red-dark: #4a1919;
  --verdi: #37dbdb;
  --purple: #cf85f2;
  --yellow: #F4D35E;
  --green: #87FF65;
}

body, html{  
  height: var(--window-height, 100%);
  width: 100%;
  padding:0;
  margin:0;
  overflow:auto;
}


* {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  color:var(--verdi);
}

body{
  background-color: var(--primary);
  overflow: auto;
}



.material-symbols-outlined {
  font-size: inherit;
  color: inherit;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

button{
  user-select:none;
  font-weight: 600;
  cursor: pointer;
  display: flex; 
  align-items: center;
  justify-content: center;
  outline:none;
  border:none;
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

input[type='number'], input[type='text']{
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--red-dark);
  border:none;
  outline:none;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
}
input::placeholder{
  font-size: 0.8em;
  color: var(--gray);
}
input.text{
  display: inline;
  padding: 0;
  font-size: inherit;
  background-color: transparent;
}
p.label{
  display:flex;
  align-items: center;
  white-space: pre;
}
::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	/* Remove scrollbar space */
	background: var(--red-dark, #ccc);
	/* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
	background: var(--red, #ccc);
	/* Optional: just make scrollbar invisible */
}

/* Slider styles */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FB3640;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #fb3640;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FB3640;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FB3640;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #fb3640;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FB3640;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FB3640;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #fb3640;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FB3640;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FB3640;
}

/* Remove arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}